@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@font-face {
    font-family: 'League Spartan Variable';
    src: url('../fonts/LeagueSpartan-2.220/variable/WOFF2/LeagueSpartan-VF.woff2') format('woff2-variations');
    font-weight: 200 900;
  }
body{
  background: #f2f2f2;
}
nav{
  background: #FFFFFF;
  transition: top 0.3s;
  box-shadow: 0px 3px 6px rgba(21, 21, 21, 0.41);
  z-index: 2;
  position: absolute;
  height: 76px;
  width: 100%;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
    position: absolute;
    left: 10%;
    -ms-transform: translate(-10%);
    transform: translate(-10%);
    font-family: 'League Spartan Variable';
    float: left;
    color: #303778;
    font-size: 40px;
    margin-top: 10px;
    font-weight: 900;
    line-height: 70px;
}
nav ul{
  float: right;
  margin-right: 10%;
  list-style: none;
  position: relative;
}
nav ul li{
  float: left;
  display: inline-block;
  background: #FFFFFF;
  margin: 0px 5px;
  height: 60px;
}
nav ul li a{
  color: #303778;
  line-height: 45px;
  font-family: "Ubuntu Mono";
  text-decoration: none;
  font-size: 19px;
  font-weight: 300;
  padding: 5px 15px;
}

nav ul li.btn-text {
    margin-left: 40px;
}

nav ul li.btn-text a{
    color: #FFFFFF;
    background-color: #3343E0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    padding: 8px 15px;
}

nav ul li.btn-text a:hover{
    background-color: #3343E0;
}


nav ul li a:hover{
  background-color: #E2E2E2;
  border-radius: 5px;
}
nav ul ul li a:hover{
  background-color: #F8F8F8;
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 70px;
  width: 150px;
  border-top: 3px solid #303778;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
  
}
nav ul li:hover > ul{
  top: 58px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 250px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -70px;
  left: 210px;
}
.show,.icon,input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 968px) {
  nav ul{
    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: #303778;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: #303778;
  }
  .icon{
    display: block;
    color: #303778;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
}

