
.types .section01{
    margin-bottom: 0px;
}

.types .section01 .mainTxt .headone{
    color: #303778;
}

.types .section01 .mainTxt .subhead{
    color: rgba(0,0,0,0.5);
}

.darkBg{
    background-color: #303778;
    z-index: -2;
}

    

.infoT{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 70%;
    left: 15%;
    padding-bottom: 100px;
    padding-top: 50px;
}

.infoT .bxs-l{
    width: 45%;
    padding-top: 21vw;
}

.infoT .c-line{
    z-index: 0;
    width: 10%;
}

.infoT .c-line img{
    width: 100%;
}

.infoT .bxs-r{
    width: 45%;
    padding-top: 7vw;
}

.stCont{
    display: inline-flex;
    justify-content: left;
    width: 100%;
    margin-bottom: 11vw;
}


.stCont .boxT{
    width: 70%;
    height: 18vw;
    background-color: #FFFFFF;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.stCont .boxT h2{
    width: 100%;
    font-size: 30px;
    color: #303778;
    text-align: center;
    margin-top: 30px;
    font-family: "League Spartan Variable";
}

.stCont .boxT p{
    width: 100%;
    font-size: 17px;
    color: #303778;
    text-align: center;
    margin-top: 30px;
    font-family: "Sanchez";
}

.infoT .bxs-r .stCont .boxT{
    margin-left: 25%;
    background-color: #FEB848;
}

.stCont img{
    z-index: 1;
    width:55%;
    margin-right: -25%;
}

.infoT .bxs-r .stCont img{
    margin-left: -25%;
    transform: rotate(180deg);
}

@media (max-width: 1150px){
    
}


@media (max-width: 450px){

}

.mobInfoT{
    width: 100%;
    margin-bottom: 100px;
}

.mobInfoT .mobBoxT{
    width: 80%;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10%;
}

.mobInfoT img{
    width: 16%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 43%;
    transform: rotate(90deg);
}

.mobInfoT .mobBoxT h2{
    width: 100%;
    font-size: 28px;
    color: #303778;
    text-align: center;
    margin-top: 30px;
    font-family: "League Spartan Variable";
}

.mobInfoT .mobBoxT p{
    width: 100%;
    font-size: 15px;
    color: #303778;
    text-align: center;
    margin-top: 30px;
    font-family: "Sanchez";
}