@charset "UTF-8";

@font-face {
  font-family: 'League Spartan Variable';
  src: url('./fonts/LeagueSpartan-2.220/variable/WOFF2/LeagueSpartan-VF.woff2') format('woff2-variations');
  font-weight: 200 900;
}


body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif,Roboto;
    background-color: #FFFFFF;
}

a{
  text-decoration: none;
  color: #FFFFFF;
}


.btnText{
  font-family: Ubuntu;
  margin: 15px 35px;
}

.section01{
  position: relative;
  width: 80%;
  height: 500px;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
}
.section01 img{
  position: absolute;
  width: 100%;
  height: 100%;
}


.headone{
  display:inline-block;
  color: #303778;
  margin-top: 240px;
  text-align: center;
  font-family: 'League Spartan Variable';
  width: 100%;
  font-size: 75px;
  font-style: normal;
  line-height: 0px;
  font-weight: 900;
}

.subhead{
  display:inline-block;
  color: #707172;
  text-align: center;
  font-family: "Ubuntu Mono";
  width: 100%;
  font-size: 25px;
  margin-top: -200px;
  top: 0px;
  font-style: normal;
  font-weight: 400;
}

.subhead p{
  margin-right: 10%;
  margin-left: 10%;
}

.buttons {
  display:inline-block;
  position: absolute;
  margin-top: 100px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/*.buttons .leftB{
  float: left;
  border: none;
  background-color: white;
  top: 50%;
  -ms-transform: translateY(25%);
  transform: translateY(25%);
  margin-right: 5vh;
  border-radius: 10px;
}*/

.buttons .leftB{
  display: inline-block;
  /* border: 3.5px solid #000000; */
  background-color: #303778;
  color: #FFFFFF;
  margin-right: 70px;
  border-radius: 15px;
  font-weight: 400;
  font-size: 20px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

.buttons .rightB{
  display: inline-block;
  /* border: 3.5px solid #000000;  */
  background-color: #3343E0;
  color: #FFFFFF; 
  margin-left: 70px;
  border-radius: 15px;
  font-weight: 400;
  font-size: 20px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

.section02H{
  position: relative;
  color: #303778;
  margin-top: 300px;
  text-align: center;
  font-family: 'League Spartan Variable';
  width: 100%;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
}


.section02{
  margin-top: 300px;
  position: relative;
  width: 80%;
  margin-bottom: 100px;
  margin-top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.section02 .service{
  margin-top: 100px;
  position: relative;
  width: 100%;
}

.section02 .service .content{
  display: inline-block;
  width: 60%;
}

.section02 .service .content .head{
  position: relative;
  color: #303778;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  font-family: 'League Spartan Variable';
  width: 100%;
  font-size: 55px;
  font-weight: 800;
}

.section02 .service .content .sub-head{
  position: relative;
  color:#575757;
  margin-top: -40px;
  text-align: left;
  font-family: 'Ubuntu';
  width: 100%;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}

.section02 .service .content .body{
  position: relative;
  color:#707172;
  margin-top: 0px;
  text-align: left;
  font-family: 'Sanchez';
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
}

.section02 .service .content .more{
  display: inline-block;
  background-color: #3343E0;
  margin-top: 30px;
  margin-left: 10px;
  text-align: center;
  border-radius: 10px;
  font-family: Ubuntu;
  color: white;
  font-weight: 500;
  font-size: 23px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

.section02 .service .content .bt-right{
  margin-left: 71%;
}

.section02 .service .content .more .btnText{
  margin: 10px 40px;
}

.section02 .service .content .al-right {
  text-align: right;
  color: #3343E0;
}

.section02 .service .illus{
  display: inline-block;
  width: 40%;
}

.section02 .service .illus img{
  position: absolute;
  filter: drop-shadow(1rem 1rem 1rem grey);
  top: 60px;
  height: 300px;
  margin-left: 150px;
}

.section02 .service .illus .left{
  margin-left: 0px;
  top: 80px;
}


/* .section02 .text {
  color: #000000;
  width: 30%;
  position: absolute;
  font-family: Ubuntu;
  margin-right: 60px;
  margin-left: 8%;
  font-size: 120px;
  font-weight: 800;
}

.section02 .text p{
  position: relative;
  margin-bottom: -60px;
}

.section02 .text .line1 {
  position: relative;
  stroke: rgba(0, 0, 0, 1);
  stroke-width: 10.00px;
  margin-top: -60px;
  stroke-linecap: round;
  width: 70%;
  height: 10.00px;
  top: 0px;
  left: 6%;
}

.section02 .carousal {

      display: inline-block;
      position: absolute;
      box-sizing: content-box;
      opacity: 1;
      background-color: transparent;
      width: 50%;
    height: 100%;
    right: 10%;
}

.section02 .carousal .main {
    position: absolute;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0.5);
      width: 80%;
    height: 100%;
    right: 0px;
    top: 0.00px;

}

.section02 .carousal .left {
      display: block;
      position: absolute;
      box-sizing: content-box;
      width: 15%;
    height: 20%;
    left: 5%;
    bottom: 30px;
}

.section02 .carousal .left .rectangle3 {
    position: absolute;
      box-sizing: content-box;
    background-color: rgba(0, 0, 0, 1);
      width: 100%;
    height: 100%;
    left: 0.00px;
    top: 0.00px;

}

.section02 .carousal .left .iconAwesomeArrowLefte356bfef {
    position: absolute;
    box-sizing: content-box;
    fill: #FFFFFF;
    width: 54.92px;
    height: 53.53px;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);

}

.section02 .carousal .right {

      display: block;
      position: absolute;
      box-sizing: content-box;
     width: 15%;
    height: 20%;
    left: 20%;
    bottom: 30px;
}

.section02 .carousal .right .rectangle2 {
    position: absolute;
    box-sizing: content-box;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    left: 0.00px;
    top: 0.00px;

}

.section02 .carousal .right .iconAwesomeArrowLeft {
    position: absolute;
    box-sizing: content-box;
    fill: rgba(0, 0, 0, 1);
    width: 54.92px;
    height: 53.53px;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);

} */


.section03 {
  position: relative;
  margin-top: 500px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%)
}

.section03 .Box-l {
  display: inline-block;
  border-radius: 10px;
  height: 270px;
  width: 30%;
  margin-right: 5%;
  margin-bottom: 50px;
}
.section03 .Box-r {
  display: inline-block;
  border-radius: 10px;
  height: 270px;
  width: 30%;
  margin-left: 5%;
  margin-bottom: 50px;
}

.section03 .Box-c {
  display: inline-block;
  border-radius: 10px;
  height: 270px;
  width: 30%;
  margin-bottom: 50px;
}

.section03 .Box-l p{
  position: absolute;
  text-align: left;
  width: 30%;
  margin-top: 0px;
  font-size: 110px;
  font-weight: 1000;
  font-family: Ubuntu;
  color: #000000;
}

.white-bg{
  background-color: #FFFFFF;
}

.black-bg{
  background-color: black;
}

.section03 .Box-r .button-cont{
  position: absolute;
  border-radius: 10px;
  border: 5px solid #000000;
  font-weight: 400;
  color: #000000;
  margin-top: 125px;
  margin-left: 10%;
  font-size: 30px;
}

.section03 .Box-l .line2 {
  position: absolute;
  stroke: #FFFFFF;
  stroke-width: 10.00px;
  stroke-linecap: round;
  width: 23%;
  height: 10.00px;
  margin-top: 260px;
  left: 20px;
}

