@charset "UTF-8";

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif,Roboto;
    background-color: #000000;
    padding-top: 150px;
}
.navbar {
  background-color: #000000;
  position: absolute;
  top: 0;
  height: 10vh;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(21, 21, 21, 0.41);
  vertical-align: center;
}
.navbarheader{
  position: left;
  top: 50%;
  left: 10%;
  -ms-transform: translate(-10%,-50%);
  transform: translate(-10%,-50%);
  position: absolute;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 1000;
  font-size: 40px;
  margin-top: auto;
  line-height: 47px;
  text-align: center;
  color: #FFFFFF;
}

.navbarcenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  z-index: -1;
}

.link {
  display: inline-block;
  line-height: 40px;
  font-family: Montserrat;
  color: white;
  font-size: 18px;
  font-weight: 300;
  margin-left: 20px;
  margin-right: 20px;
}

.navbarright{
  position: absolute;
  /* border: none;
  background-color: white; */
  top: 50%;
  right: 10%;
  transform: translate(10%, -50%);
  border-radius: 10px;
}
.btnText{
  font-family: Roboto;
  margin: 10px 15px;
}

.section01{
  position: relative;
  width: 80%;
  height: 500px;
  left: 50%;
  transform: translateX(-50%);
  /* background-image: url("./section01.png"); */
}
.section01 img{
  position: absolute;
  width: 100%;
  height: 100%;
}


.headone{
  display:inline-block;
  color: white;
  top: 0px;
  text-align: center;
  font-family: Ubuntu;
  width: 100%;
  font-size: 80px;
  font-style: normal;
  font-weight: 1000;
  letter-spacing: 0em;
}

.subhead{
  display:inline-block;
  color: #8E8E8E;
  text-align: center;
  font-family: Roboto;
  width: 100%;
  font-size: 30px;
  margin-top: -100px;
  font-style: normal;
  font-weight: 500;
}

.subhead p{
  margin-right: 20%;
  margin-left: 20%;
}

.buttons {
  display:inline-block;
  position: absolute;
  margin-top: 100px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/*.buttons .leftB{
  float: left;
  border: none;
  background-color: white;
  top: 50%;
  -ms-transform: translateY(25%);
  transform: translateY(25%);
  margin-right: 5vh;
  border-radius: 10px;
}*/

.buttons .leftB{
  display: inline-block;
  border: 3.5px solid #FFFFFF;
  background-color: white;
  margin-right: 70px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
}

.buttons .rightB{
  display: inline-block;
  border: 3.5px solid #FFFFFF; 
  background-color: rgba(0, 0, 0, 0);
  color: white; 
  margin-left: 70px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;

}

.section02{
  margin-top: 300px;
  position: relative;
  width: 100%;
  height: 80vh;
  margin-bottom: 100px;
}

.section02 .text {
  color: #FFFFFF;
  width: 30%;
  position: absolute;
  font-family: Ubuntu;
  margin-right: 60px;
  margin-left: 8%;
  font-size: 120px;
  font-weight: 800;
}

.section02 .text p{
  position: relative;
  margin-bottom: -60px;
}

.section02 .text .line1 {
  position: relative;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 10.00px;
  margin-top: -60px;
  stroke-linecap: round;
  width: 70%;
  height: 10.00px;
  top: 0px;
  left: 6%;
}

.section02 .carousal {

      display: inline-block;
      position: absolute;
      box-sizing: content-box;
      opacity: 1;
      background-color: transparent;
      width: 50%;
    height: 100%;
    right: 10%;
}

.section02 .carousal .main {
    position: absolute;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 1);
      width: 80%;
    height: 100%;
    right: 0px;
    top: 0.00px;

}

.section02 .carousal .left {
      display: block;
      position: absolute;
      box-sizing: content-box;
      width: 15%;
    height: 20%;
    left: 5%;
    bottom: 30px;
}

.section02 .carousal .left .rectangle3 {
    position: absolute;
      box-sizing: content-box;
    background-color: rgba(255, 255, 255, 1);
      width: 100%;
    height: 100%;
    left: 0.00px;
    top: 0.00px;

}

.section02 .carousal .left .iconAwesomeArrowLefte356bfef {
    position: absolute;
    box-sizing: content-box;
    fill: rgba(0, 0, 0, 1);
    width: 54.92px;
    height: 53.53px;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);

}

.section02 .carousal .right {

      display: block;
      position: absolute;
      box-sizing: content-box;
     width: 15%;
    height: 20%;
    left: 20%;
    bottom: 30px;
}

.section02 .carousal .right .rectangle2 {
    position: absolute;
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    left: 0.00px;
    top: 0.00px;

}

.section02 .carousal .right .iconAwesomeArrowLeft {
    position: absolute;
    box-sizing: content-box;
    fill: rgba(255, 255, 255, 1);
    width: 54.92px;
    height: 53.53px;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);

}


.section03 {
  position: relative;
  margin-top: 500px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%)
}

.section03 .Box-l {
  display: inline-block;
  border-radius: 15px;
  height: 300px;
  width: 30%;
  margin-right: 5%;
  margin-bottom: 50px;
}
.section03 .Box-r {
  display: inline-block;
  border-radius: 15px;
  height: 300px;
  width: 30%;
  margin-left: 5%;
  margin-bottom: 50px;
}

.section03 .Box-c {
  display: inline-block;
  border-radius: 15px;
  height: 300px;
  width: 30%;
  margin-bottom: 50px;
}

.section03 .Box-l p{
  position: absolute;
  text-align: left;
  width: 30%;
  margin-top: 30px;
  font-size: 110px;
  font-weight: 1000;
  font-family: Ubuntu;
  color: #FFFFFF;
}

.white-bg{
  background-color: #FFFFFF;
}

.section03 .Box-r .button-cont{
  position: absolute;
  border-radius: 10px;
  font-weight: 1000;
  margin-top: 135px;
  margin-left: 10%;
  font-size: 30px;
}

.section03 .Box-l .line2 {
  position: absolute;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 10.00px;
  stroke-linecap: round;
  width: 25%;
  height: 10.00px;
  margin-top: 290px;
  left: 20px;
}